<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>avenda</title>
    <link rel="stylesheet" type="text/css" href="/static/avenda.css">
</head>

<body>
    
    <header>
        <div class="logo">
          <h1>RETROBIKE</h1>
          <p>RENOVAÇÃO DE BICICLETAS VINTAGE</p>
      
        </div>
       
          <div class="container">
             
              <div class="menu">
                <nav>
                  <ul>
                  
              <li>  <a href="/templates/index.html">Inicio</a></li>
              <li><a href="/templates/sobre.html">Sobre nós</a></li>
              <li><a href="/templates/servicos.html">Serviços</a></li>
             <li><a href="/templates/avenda.html">Á venda</a></li>
              <li><a href="/templates/contato.html">Contato</a></li>
              </ul>
                </nav>
             
  
              </div>
  
          </div>
      </header>

      <h1 class="h1">BIKES PRONTAS Á VENDA</h1>
         
      <section class="principal">
          
           <div class="img">
              <img src="/static/IMG/passeio.jpg" alt="">
              <img src="/static/IMG/CICLISTA.jpg" alt="">
              <img src="/static/IMG/bicicletavermelha2.jpg" alt="">

          </div>
    
   
      <section class="text">
        <div class="espaco">
        <h1>SANDY</h1>
        <p>
          Clique aqui e comece a escrever. Quae ab illo inventore veritatis et quasi architecto
           beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit.
        </p>
        <p>Tipo: Bike urbana</p>
        <p>Cor: Creme</p>
        <p>Pneus: Rem aperiam</p>
        <p>Selim: Standard</p>
        <p>Preço: R$ 600,00</p>
      </div>
      
     

      
       <div class="espaco1">
        <h1>ROSE</h1>
        <p>
          Clique aqui e comece a escrever. Quae ab illo inventore veritatis et quasi architecto
           beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit.
        </p>
        <p>Tipo: Bike urbana</p>
        <p>Cor: Vermelha</p>
        <p>Pneus: Laudantium totam</p>
        <p>Selim: Standard</p>
        <p>Preço: R$ 150,00</p>
      </div>

      
      <div class="espaco2">
        <h1>LUCAS</h1>
        <p>
          Clique aqui e comece a escrever. Quae ab illo inventore veritatis et quasi architecto
           beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit.
        </p>
        <p>Tipo: Bike urbana</p>
        <p>Cor: Azul</p>
        <p>Pneus: Quia consequuntur</p>
        <p>Selim: Standard</p>
        <p>Preço: R$ 300,00</p>
      </div>
      </section>
    </section>

    <div class="linha">

    </div>
    <footer>
        <p>Retrobike | Todos os direitos reservados 2021</p>
        <p>Desenvolvido por Brenda</p>
    
    </footer>


</body>
</html>