<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/contato.css">
    <title>Contato</title>
</head>
<body>

    <header>
        <div class="logo">
          <h1>RETROBIKE</h1>
          <p>RENOVAÇÃO DE BICICLETAS VINTAGE</p>
      
        </div>
       
          <div class="container">
             
              <div class="menu">
                <nav>
                  <ul>
                  
                    <li>  <a href="/templates/index.html">Inicio</a></li>
                    <li><a href="/templates/sobre.html">Sobre nós</a></li>
                    <li><a href="/templates/servicos.html">Serviços</a></li>
                   <li><a href="/templates/avenda.html">Á venda</a></li>
                    <li><a href="/templates/contato.html">Contato</a></li>
              </ul>
                </nav>
             
  
              </div>
  
          </div>
      </header>

      <section class="principal">
        
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3740.264083113919!2d-40.37092854971349!3d-20.37199862524788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb83edd768f2113%3A0x97e08653474c284e!2sR.%20Josu%C3%A9%20Prado%2C%2027%20-%20Castelo%20Branco%2C%20Cariacica%20-%20ES%2C%2029140-832!5e0!3m2!1spt-BR!2sbr!4v1613494701891!5m2!1spt-BR!2sbr"
             width="600"
             height="450" frameborder="0" style="border:0;"
              allowfullscreen="" 
             aria-hidden="false" tabindex="0"></iframe>
    
        </div>

        <div class="text">
          <h1>VISITE-NOS EM AVENIDA PASTEUR 520, RIO DE JANEIRO 04719-001</h1>
          <p class="primeiro">Clique aqui e comece a escrever. 
            Quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt.</p>
                        <p class="p">
                    Horário de funcionamento
            Seg-Sex, 8h - 18h
                        </p>
            <p class="p">
            Número de telefone
            <br/>
            11 3456 7890
            </p>
            <p class="p">
            E-mail
            <br/>
            demo@webnode.com
                        </p>
        </div>


      </section>


      <div class="linha">

      </div>



      <footer>
        <p>Retrobike | Todos os direitos reservados 2021</p>
        <p>Desenvolvido por Brenda</p>
    
    </footer>
    </body>
    </html>