<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/servicos.css">
    <title>Serviços</title>
</head>
<body>
    <header>
        <div class="logo">
          <h1>RETROBIKE</h1>
          <p>RENOVAÇÃO DE BICICLETAS VINTAGE</p>
      
        </div>
       
          <div class="container">
             
              <div class="menu">
                <nav>
                  <ul>
                  
                       
              <li>  <a href="/templates/index.html">Inicio</a></li>
              <li><a href="/templates/sobre.html">Sobre nós</a></li>
              <li><a href="/templates/servicos.html">Serviços</a></li>
             <li><a href="/templates/avenda.html">Á venda</a></li>
              <li><a href="/templates/contato.html">Contato</a></li>
              </ul>
                </nav>
             
  
              </div>
  
          </div>
      </header>

      <section>
          <div class="textopri">
          <h1>O QUE FAREMOS PARA
            AJUSTAR SUA BIKE?
           
          </h1>
          <div class="img_servicos">
               <img src="/static/IMG/foto_servicos.jpg" alt="">
          </div>
          <div class="textodo">
              <h1>Renovação completa</h1>
              <p>Clique aqui e comece a escrever. 
                  b illo inventore veritatis et 
                  quasi architecto beatae vitae dicta
                  sunt explicabo nemo enim ipsam voluptatem.</p>
                  <h1>Acabamento</h1>
                  <p>Clique aqui e comece a escrever. 
                      Ex ea commodi consequatur quis autem 
                      vel eum iure reprehenderit qui 
                      in ea voluptate velit esse.</p>

                      <h1>Peças de reposição e acessórios</h1>
                      <p>Clique aqui e comece a escrever. Iusto odio dignissimos
                        ducimus qui blanditiis praesentium voluptatum
                     deleniti atque corrupti quos dolores.</p>
          </div>
        </div>
      </section>

      
<div class="linha">

</div>
<footer>
    <p>Retrobike | Todos os direitos reservados 2021</p>
    <p>Desenvolvido por Brenda</p>

</footer>
    
</body>
</html>